<div class="warning-page col-6 pt-5 mx-auto" id="deletion-alert">
  <div class="card">
    <h5 class="card-header">確定要刪除 <strong class="text-danger">{{{restaurant.name}}}</strong> ？</h5>
    <div class="card-body">
      <h5 class="card-title">
        取消刪除請按
        <a href="/restaurants/{{{restaurant.id}}}" class="btn btn-secondary">Cancel</a>
        ，確認刪除請按
        <form method="POST" action="/restaurants/{{{restaurant.id}}}/delete" style="display: inline;">
          <button class="btn btn-danger mr-5" type="submit">
            Confirm
          </button>
        </form>
      </h5>
    </div>
  </div>
</div>

{{!-- <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="alert-title">確定要刪除{{{restaurant.name}}}嗎？</h5>
    </div>
    <div class="modal-body">
      放棄刪除請按Cancel，確認刪除請按Confirm。
    </div>

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <form method="POST" action="/restaurants/{{{restaurant.id}}}/delete" style="display: inline;">
    <button class="btn btn-danger" type="submit">
      Confirm
    </button>
  </form>
</div> --}}